<h1 class="ui header" style="position: relative">
  <%= @team.name %>
  <div class="sub header"><%= link_to "Edit team", edit_team_path(@team.id) %></div>

  <div class="export-block">
    <%= link_to "Export to XLS", export_team_path(@team.id), class: "ui secondary basic button" %>
  </div>
</h1>
<br>

<table class="ui celled striped table">
  <tbody>
    <tr>
      <td style="width:25%">First Name</td>
      <td><%= @team.first_name %></td>
    </tr>
    <tr>
      <td>Last Name</td>
      <td><%= @team.last_name %></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><%= @team.email %></td>
    </tr>
    <tr>
      <td>Tags</td>
      <td>
        <% @team.tags.each do |tag| %>
          <div class="ui label">
            <i class="tag icon"></i> <%= tag.title %>
          </div>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>SM Insurance</td>
      <td>
        <% if @team.have_insurance_override %>
          Yes (set in settings)
        <% else %>
          <% if @team.have_insurance %>
            Yes (set in Launch27)
          <% else %>
            No
          <% end %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>GST</td>
      <td><% if @team.is_gst %>Yes<% else %>No<% end %></td>
    </tr>
    <tr>
      <td>ABN</td>
      <td><%= @team.abn %></td>
    </tr>
    <tr>
      <td>Billing name</td>
      <td><%= @team.billing_name %></td>
    </tr>
    <tr>
      <td>Address</td>
      <td><%= @team.address %></td>
    </tr>
    <tr>
      <td>BSB</td>
      <td><%= @team.bsb %></td>
    </tr>
    <tr>
      <td>Account number</td>
      <td><%= @team.account_number %></td>
    </tr>
    <tr>
      <td>Created at</td>
      <td><%= @team.created_at.strftime("%d/%m/%Y %H:%M") %></td>
    </tr>
    <tr>
      <td>Last updated at</td>
      <td><%= @team.updated_at.strftime("%d/%m/%Y %H:%M") %></td>
    </tr>
    <tr>
      <td>Invoices delivery</td>
      <td>
        <% if @team.unsubscribed %>
          <span class="warning" style="color: #cf0000">Unsubscribed from email delivery</span>
        <% else %>
          Email
        <% end %>
      </td>
    </tr>
  </tbody>
</table>

<h2 class="ui header">Invoices</h2>
<table class="ui celled table">
  <thead>
    <tr>
      <th>Week</th>
      <th style="width: 110px;" class="center aligned">Due</th>
      <th style="width: 110px;" class="center aligned">Paid</th>
    </tr>
  </thead>
  <tbody>
    <% @team.invoices.each do |invoice| %>
      <% @total_due = @total_due + invoice.due %>
      <% @total_paid = @total_paid + invoice.paid %>
      <tr>
        <td>
          <%= invoice.week.start_date.strftime("%d/%m/%Y")+" - "+invoice.week.end_date.strftime("%d/%m/%Y") %>
        </td>
        <td class="center aligned<% if invoice.due > 0 %> positive<% end %><% if invoice.due < 0 %> negative<% end %>">
          <% if invoice.due > 0 && invoice.team.is_validated? %>
            <div class="ui buttons">
              <%= link_to invoice_due_invoice_path(invoice, format: :pdf), class: "ui positive basic button  btn2" do %>
                <span style="white-space: nowrap">
                  <% if invoice.due_receipt_sent %><i class="at icon" title="Invoice sent to client at: <%= invoice.due_receipt_sent_at.strftime("%d-%m-%Y") %>"></i><% end %>
                  <%= number_to_currency(invoice.due) %>
                </span>
              <% end %>
              <% if !@team.unsubscribed %>
                <%= link_to invoice_due_mail_invoice_path(invoice, format: :pdf), class: "ui positive basic button  btn2" do %>
                  Email
                <% end %>
              <% end %>
            </div>
          <% else %>
            <%= link_to invoice_due_invoice_path(invoice, format: :pdf), class: "ui red disabled basic button  btn2" do %>
              <%= number_to_currency(invoice.due) %>
            <% end %>
          <% end %>

        </td>
        <td class="center aligned<% if invoice.paid > 0 %> positive<% end %><% if invoice.paid < 0 %> negative<% end %>">
          <% if invoice.paid > 0 && invoice.team.is_validated? %>
            <div class="ui buttons">
              <%= link_to invoice_paid_invoice_path(invoice, format: :pdf), class: "ui positive basic button  btn2" do %>
                <span style="white-space: nowrap">
                  <% if invoice.paid_receipt_sent %><i class="at icon" title="Invoice sent to client at: <%= invoice.paid_receipt_sent_at.strftime("%d-%m-%Y") %>"></i><% end %>
                  <%= number_to_currency(invoice.paid) %>
                </span>
              <% end %>
              <% if !@team.unsubscribed %>
                <%= link_to invoice_paid_mail_invoice_path(invoice, format: :pdf), class: "ui positive basic button  btn2" do %>
                  Email
                <% end %>
              <% end %>
            </div>
          <% else %>
            <%= link_to invoice_paid_invoice_path(invoice, format: :pdf), class: "ui red disabled basic button  btn2" do %>
              <%= number_to_currency(invoice.paid) %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th>Total</th>
      <th style="width: 110px;" class="center aligned"><big><%= number_to_currency(@total_due) %></big></th>
      <th style="width: 110px;" class="center aligned"><big><%= number_to_currency(@total_paid) %></big></th>
    </tr>
  </tfoot>
</table>
