<h1 class="ui header">
  <%= @week.start_date.strftime("%-d %B %Y")+" — "+@week.end_date.strftime("%-d %B %Y") %>
</h1>

<div class="ui three steps">
  <div class="step <% if !@week.is_parsed && !@week.is_processed %>active<% end %>">
    <i class="calendar alternate outline icon"></i>
    <div class="content">
      <div class="title">Payment Date</div>
      <div class="description"><%= @week.payment_date.strftime("%-d %B %Y") %></div>
    </div>
  </div>
  <% if @week.is_parsed %>
    <% if @week.is_processed %>
      <div class="step">
        <i class="sync icon"></i>
        <div class="content">
          <span class="title">Parsed</span>
          <div class="description">at <%= @week.parsed_at.strftime("%d/%m/%Y") %></div>
        </div>
      </div>
      <div class="step">
        <i class="sync icon"></i>
        <div class="content">
          <span class="title">Processed</span>
          <div class="description">at <%= @week.parsed_at.strftime("%d/%m/%Y") %>.
            <% if @week.aba_file_gst.present? %>
              <%= link_to "GST", aba_gst_week_path(@week.id), class: "mini ui basic button" %>
            <% end %>
            <% if @week.aba_file_no_gst.present? %>
              <%= link_to "NO GST", aba_no_gst_week_path(@week.id), class: "mini ui basic button" %>
            <% end %>
          </div>
        </div>
      </div>
    <% else %>
      <div class="active step">
        <i class="sync icon"></i>
        <div class="content">
          <div class="title"><%= link_to "Parse Again?", parse_week_path(@week.id), method: :post, class: "header" %></div>
          <div class="description">at <%= @week.parsed_at.strftime("%d/%m/%Y") %>.
            <strong><span title="Invoices to pay"><%= @week.to_pay_count %></span>/<span title="Invoices parsed"><%= @week.all_count %></span></strong>
          </div>
        </div>
      </div>
      <div class="step">
        <i class="edit outline icon"></i>
        <div class="content">
          <% if @week.total_paid > 0 %>
            <div class="title">Processed</div>
            <div class="description">No ABA files available</div>
          <% else %>
            <% all_good = true %>
            <% @invoices.each_with_index do |invoice, counter| %>
              <% if invoice.team.bsb.nil? && invoice.team.account_number.nil? %>
                <% all_good = false %>
              <% end %>
            <% end %>
            <% if all_good %>
              <div class="title"><%= link_to "Process", process_payments_week_path(@week.id), method: :post, class: "header" %></div>
              <div class="description">Send invoices and generate ABA file</div>
            <% else %>
              <span class="title">Not processed</span>
              <div class="description">Update teams details first</div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>

  <% else %>
    <div class="step">
      <i class="sync icon"></i>
      <div class="content">
        <span class="title"><%= link_to "Parse", parse_week_path(@week.id), method: :post, class: "header" %></span>
        <div class="description">Not yet parsed</div>
      </div>
    </div>
    <div class="disabled step">
      <i class="sync icon"></i>
      <div class="content">
        <span class="title">Not processed</span>
        <div class="description">Parse first</div>
      </div>
    </div>
  <% end %>
</div>

<% if @week.is_parsed %>
  <h2 class="ui header">Invoices to pay/paid</h2>

  <div class="ui tabular menu">
    <%= link_to "Invoices to pay/paid", week_path(@week.id), class: "active item" %>
    <%= link_to "All Invoices", all_week_path(@week.id), class: "item" %>
  </div>

  <% if @invoices.count > 0 %>

    <table class="ui celled table">
      <thead>
        <tr>
          <th style="width: 30px;" class="center aligned">#</th>
          <th>Team</th>
          <th style="width: 40px;" class="center aligned"><b>Insurance</b></th>
          <th style="width: 140px;" class="center aligned"><b>Due</b></th>
          <th style="width: 140px;" class="center aligned"><b>Paid</b></th>
        </tr>
      </thead>
      <tbody>
        <% @invoices.each_with_index do |invoice, counter| %>
          <tr>
            <td><%= params[:page].present? ? (params[:page].to_i-1)*25 + (counter + 1) : (counter + 1) %></td>
            <% if !invoice.team.is_validated? %>
              <td class="negative">
                <%= link_to invoice.team.name, team_path(invoice.team.id), title: "Missing bank details. Please update" %><% if invoice.team.is_gst %> <span class="ui mini label">GST</span><% end %>
                <%= link_to "Edit Team Details", edit_team_path(invoice.team_id, week_back: @week.id), class: "edit-team" %>

                <% if invoice.team.created_at > (Time.now - 3.days) %>
                  <span class="ui mini label yellow">New team</span>
                <% else %>
                  <% if invoice.team.updated_at > (Time.now - 3.days) %>
                    <span class="ui mini label yellow">Recently updated</span>
                  <% end %>
                <% end %>
              </td>
            <% else %>
              <td>
                <%= link_to invoice.team.name, team_path(invoice.team.id) %><% if invoice.team.is_gst %> <span class="ui mini label">GST</span><% end %>

                <% if invoice.team.created_at > (Time.now - 3.days) %>
                  <span class="ui mini label yellow">New team</span>
                <% else %>
                  <% if invoice.team.updated_at > (Time.now - 3.days) %>
                    <span class="ui mini label yellow">Recently updated</span>
                  <% end %>
                <% end %>
              </td>
            <% end %>
            <td class="center aligned">
              <% if invoice.have_insurance %><%= number_to_currency(-5.00) %><% else %><% end %>
            </td>
            <td class="center aligned<% if invoice.due > 0 %> positive<% end %><% if invoice.due < 0 %> negative<% end %>">
              <% if invoice.due > 0 && invoice.team.is_validated? %>
                <% if invoice.due_receipt_sent %>
                  <%= link_to invoice_due_invoice_path(invoice, format: :pdf), class: "ui positive basic button mini btn2" do %>
                    <span style="white-space: nowrap"><i class="at icon" title="Invoice sent to client at: <%= invoice.due_receipt_sent_at.strftime("%d-%m-%Y") %>"></i><%= number_to_currency(invoice.due) %></span>
                  <% end %>
                <% else %>
                  <%= link_to invoice_due_invoice_path(invoice, format: :pdf), class: "ui positive basic button mini btn2" do %>
                    <%= number_to_currency(invoice.due) %>
                  <% end %>
                <% end %>
              <% else %>
                <%= link_to invoice_due_invoice_path(invoice, format: :pdf), class: "ui red disabled basic button mini btn2" do %>
                  <i class="file alternate outline"></i>
                  <%= number_to_currency(invoice.due) %>
                <% end %>
              <% end %>
            </td>
            <td class="center aligned<% if invoice.paid > 0 %> positive<% end %><% if invoice.paid < 0 %> negative<% end %>">
              <% if invoice.paid > 0 && invoice.team.is_validated? %>
                <%= link_to invoice_paid_invoice_path(invoice, format: :pdf), class: "ui positive basic button mini btn2" do %>
                  <% if invoice.paid_receipt_sent %>
                    <i class="at icon" title="Invoice sent to client at: <%= invoice.paid_receipt_sent_at.strftime("%d-%m-%Y") %>"></i><%= number_to_currency(invoice.paid) %>
                  <% else %>
                    <%= number_to_currency(invoice.paid) %>
                  <% end %>
                <% end %>
              <% else %>
                <%= link_to invoice_paid_invoice_path(invoice, format: :pdf), class: "ui red disabled basic button mini btn2" do %>
                  <i class="file alternate outline"></i>
                  <%= number_to_currency(invoice.paid) %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>

      </tbody>
      <tfoot>
        <tr>
          <th style="width: 30px;" class="center aligned"></th>
          <th>Total</th>
          <th></th>
          <th style="width: 80px;" class="center aligned"><b style="font-size: 20px;"><%= number_to_currency(@week.total_due) %></b></th>
          <th style="width: 80px;" class="center aligned"><b style="font-size: 20px;"><%= number_to_currency(@week.total_paid) %></b></th>
        </tr>
      </tfoot>
    </table>
  <% else %>
    <p>No payments due</p>
  <% end %>
<% end %>
